@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #fafafa;
}
.react-tabs__tab{
background-color: #fff;
color:gray;
border: none!important;
}
.react-tabs__tab--selected {
background-color: #EEEAFE!important;
color:#623CFE!important;
border-radius: 7px!important;

}
.react-tabs__tab-list{
  border-bottom: none;
}